__pycache__


#data
ACF_train
ACF_data
ACF_test
ACF_validate
IR_database
OCRdatabase

#model
ACF_Models
IR_Models

#log
ACF_TrainLogs
ACF_TestLogs
IR_logs

#Image
*.png
*.jpeg
*.jpg
*.bmp


